*{
  margin:0px;
  padding:0px;
}.c{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  width: 90%;
  gap:60px;
  font-size: 25px;
}
.c1{

    gap: 30px;
}
.c1:hover{
  color: white;
  cursor:pointer;
}